## Aggregation function

In [6]:
import pandas as pd

# Create sample data
data = {
    'Category': ['Electronics', 'Electronics', 'Clothing', 'Clothing', 'Grocery', 'Grocery'],
    'Store': ['Store A', 'Store B', 'Store A', 'Store B', 'Store A', 'Store B'],
    'Sales': [2000, 2500, 1500, 1800, 800, 900],
    'Quantity': [5, 6, 8, 7, 20, 18],
    'Date': pd.to_datetime([
        '2025-07-01', '2025-07-02',
        '2025-07-01', '2025-07-02',
        '2025-07-01', '2025-07-02'
    ])
}

# Create DataFrame
df = pd.DataFrame(data)

print(df)

      Category    Store  Sales  Quantity       Date
0  Electronics  Store A   2000         5 2025-07-01
1  Electronics  Store B   2500         6 2025-07-02
2     Clothing  Store A   1500         8 2025-07-01
3     Clothing  Store B   1800         7 2025-07-02
4      Grocery  Store A    800        20 2025-07-01
5      Grocery  Store B    900        18 2025-07-02

In [7]:
df

      Category    Store  Sales  Quantity       Date
0  Electronics  Store A   2000         5 2025-07-01
1  Electronics  Store B   2500         6 2025-07-02
2     Clothing  Store A   1500         8 2025-07-01
3     Clothing  Store B   1800         7 2025-07-02
4      Grocery  Store A    800        20 2025-07-01
5      Grocery  Store B    900        18 2025-07-02

In [8]:
### group by category and calculate the sum of sales

In [13]:
# sourcery skip: avoid-builtin-shadow

cat = df.groupby('Category')['Sales'].sum();

print(cat);


str = df.groupby('Store')['Sales'].sum();

print(str)


multiple = df.groupby(['Store','Category'])['Sales'].sum();

print(multiple);

Category
Clothing       3300
Electronics    4500
Grocery        1700
Name: Sales, dtype: int64
Store
Store A    4300
Store B    5200
Name: Sales, dtype: int64
Store    Category
Store A  Clothing       1500
         Electronics    2000
         Grocery         800
Store B  Clothing       1800
         Electronics    2500
         Grocery         900
Name: Sales, dtype: int64

In [ ]:
### Aggregation function # mean,median,mode,standard deviation

In [19]:
print(df['Sales'].mean())
print(df['Sales'].mode())
print(df['Sales'].median())
### mean,mode,median,max,min,count,std ###

1583.3333333333333
0     800
1     900
2    1500
3    1800
4    2000
5    2500
Name: Sales, dtype: int64
1650.0

In [23]:
print(df['Sales'].agg(['mean','min','max']));

mean    1583.333333
min      800.000000
max     2500.000000
Name: Sales, dtype: float64