In [2]:
import numpy as np
import pandas as pd;

In [ ]:

data = {
    'Category': ['Electronics', 'Electronics', 'Clothing', 'Clothing', 'Grocery', 'Grocery'],
    'Store': ['Store A', 'Store B', 'Store A', 'Store B', 'Store A', 'Store B'],
    'Sales': [2000, 2500, 1500, 1800, 800, 900],
    'Quantity': [5, 6, 8, 7, 20, 18],
    'Date': pd.to_datetime([
        '2025-07-01', '2025-07-02',
        '2025-07-01', '2025-07-02',
        '2025-07-01', '2025-07-02'
    ])
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

Original DataFrame:
      Category    Store  Sales  Quantity       Date
0  Electronics  Store A   2000         5 2025-07-01
1  Electronics  Store B   2500         6 2025-07-02
2     Clothing  Store A   1500         8 2025-07-01
3     Clothing  Store B   1800         7 2025-07-02
4      Grocery  Store A    800        20 2025-07-01
5      Grocery  Store B    900        18 2025-07-02

In [6]:
pivot_sales = pd.pivot_table(df, 
                              values='Sales', 
                              index='Category', 
                              columns='Store', 
                              aggfunc='sum')
print("\nTotal Sales per Category & Store:")
print(pivot_sales)

Total Sales per Category & Store:
Store        Store A  Store B
Category
Clothing        1500     1800
Electronics     2000     2500
Grocery          800      900

In [10]:
print(pd.crosstab(df['Category'],df['Store']));

Store        Store A  Store B
Category
Clothing           1        1
Electronics        1        1
Grocery            1        1