#### My First own project

In [67]:
import numpy as np;
import pandas as pd;
import seaborn as sns;
import matplotlib.pyplot as plt;
import warnings;
warnings.filterwarnings('ignore');

In [69]:
df = pd.read_csv('House_Rent_Dataset.csv');
df;

In [70]:
print(df.head());

    Posted On  BHK   Rent  Size            Floor    Area Type  \
0  2022-05-18    2  10000  1100  Ground out of 2   Super Area
1  2022-05-13    2  20000   800       1 out of 3   Super Area
2  2022-05-16    2  17000  1000       1 out of 3   Super Area
3  2022-07-04    2  10000   800       1 out of 2   Super Area
4  2022-05-09    2   7500   850       1 out of 2  Carpet Area

              Area Locality     City Furnishing Status  Tenant Preferred  \
0                    Bandel  Kolkata       Unfurnished  Bachelors/Family
1  Phool Bagan, Kankurgachi  Kolkata    Semi-Furnished  Bachelors/Family
2   Salt Lake City Sector 2  Kolkata    Semi-Furnished  Bachelors/Family
3               Dumdum Park  Kolkata       Unfurnished  Bachelors/Family
4             South Dum Dum  Kolkata       Unfurnished         Bachelors

   Bathroom Point of Contact
0         2    Contact Owner
1         1    Contact Owner
2         1    Contact Owner
3         1    Contact Owner
4         1    Contact Owner

In [71]:
# print(df.shape);
# print(df.info())
# print(df.describe());
# print(df.isnull().sum());
print(df.columns);

Index(['Posted On', 'BHK', 'Rent', 'Size', 'Floor', 'Area Type',
       'Area Locality', 'City', 'Furnishing Status', 'Tenant Preferred',
       'Bathroom', 'Point of Contact'],
      dtype='object')

In [72]:
df.drop('Point of Contact',axis = 1,inplace=True);

In [73]:
print(df.columns);

Index(['Posted On', 'BHK', 'Rent', 'Size', 'Floor', 'Area Type',
       'Area Locality', 'City', 'Furnishing Status', 'Tenant Preferred',
       'Bathroom'],
      dtype='object')

In [74]:
df_cleaned = df.copy();
df_cleaned.drop_duplicates(inplace=True);

In [75]:
df_cleaned.drop('Posted On',axis=1,inplace=True);

In [76]:
print(df_cleaned.columns);

Index(['BHK', 'Rent', 'Size', 'Floor', 'Area Type', 'Area Locality', 'City',
       'Furnishing Status', 'Tenant Preferred', 'Bathroom'],
      dtype='object')

In [77]:
unique_city = df['City'].unique();
print(unique_city);

unique_area_type = df['Area Type'].unique();
print(unique_area_type);

unique_area_locality = df['Area Locality'].unique();
print(unique_area_locality);

unique_floor = df['Floor'].unique();
print(unique_floor);

furnish_type = df['Furnishing Status'].unique();
print(furnish_type);

Tenant_pref = df['Tenant Preferred'].unique();
print(Tenant_pref);

['Kolkata' 'Mumbai' 'Bangalore' 'Delhi' 'Chennai' 'Hyderabad']
['Super Area' 'Carpet Area' 'Built Area']
['Bandel' 'Phool Bagan, Kankurgachi' 'Salt Lake City Sector 2' ...
 'BN Reddy Nagar' 'Godavari Homes, Quthbullapur' 'Manikonda, Hyderabad']
['Ground out of 2' '1 out of 3' '1 out of 2' 'Ground out of 1'
 'Ground out of 4' '1 out of 4' '1 out of 1' 'Ground out of 3'
 '2 out of 3' '4 out of 5' '2 out of 2' '2 out of 5' '4 out of 14'
 '3 out of 3' '5 out of 5' '4 out of 4' '7 out of 8' '2 out of 4'
 '3 out of 4' '1 out of 5' '8 out of 5' 'Ground out of 6' '2 out of 1'
 'Upper Basement out of 4' 'Ground out of 5' '3 out of 5' '11 out of 19'
 '5 out of 10' '11 out of 14' 'Lower Basement out of 2' '2 out of 7'
 '4 out of 10' '7 out of 10' '2 out of 13' '6 out of 7' '4 out of 7'
 '14 out of 14' '43 out of 78' '2 out of 8' '13 out of 18' '5 out of 12'
 '18 out of 24' '3 out of 7' '17 out of 31' '11 out of 21' '7 out of 19'
 '14 out of 23' '9 out of 20' 'Upper Basement out of 9' '19 out of 24'
 '3 out of 21' '1 out of 22' '8 out of 8' '6 out of 12' '4 out of 58'
 'Upper Basement out of 16' '60 out of 66' '34 out of 48' '5 out of 8'
 '5 out of 14' '14 out of 40' '5 out of 7' '9 out of 22' '12 out of 18'
 '26 out of 44' '1 out of 8' '25 out of 42' '25 out of 41' '53 out of 78'
 'Ground out of 7' '14 out of 20' '13 out of 20' '16 out of 23'
 '10 out of 18' '39 out of 60' '16 out of 21' '10 out of 32' '4 out of 8'
 '12 out of 24' '32 out of 41' '3 out of 30' '13 out of 21' '9 out of 29'
 '47 out of 89' '7 out of 41' '28 out of 30' '13 out of 15' '6 out of 21'
 '8 out of 16' '2 out of 6' '5 out of 19' '3 out of 11' '17 out of 42'
 '10 out of 12' '8 out of 28' '9 out of 15' '14 out of 22' '18 out of 40'
 '9 out of 17' '12 out of 45' '25 out of 35' '7 out of 15' '10 out of 16'
 'Upper Basement out of 20' '5 out of 20' 'Upper Basement out of 40'
 '5 out of 18' '34 out of 58' '4 out of 6' '20 out of 22' '12 out of 19'
 '15 out of 18' '65 out of 78' '6 out of 16' '17 out of 22' '6 out of 24'
 '40 out of 75' '19 out of 38' '15 out of 31' '11 out of 28'
 '10 out of 22' '17 out of 24' '15 out of 19' '9 out of 10' '7 out of 12'
 '8 out of 20' '11 out of 13' '9 out of 19' '37 out of 51' '6 out of 11'
 '8 out of 15' '11 out of 20' '10 out of 23' 'Upper Basement out of 10'
 '7 out of 23' '4 out of 11' '17 out of 43' '7 out of 22' '14 out of 18'
 '6 out of 10' '8 out of 12' '3 out of 18' '7 out of 7' '14 out of 58'
 '18 out of 23' '19 out of 19' '13 out of 14' '7 out of 11' '11 out of 22'
 'Upper Basement out of 30' '12 out of 14' '16 out of 31' '12 out of 13'
 '11 out of 51' '2 out of 12' '22 out of 24' '7 out of 14' '5 out of 13'
 '7 out of 21' '14 out of 21' '17 out of 25' '9 out of 14' '8 out of 27'
 '3 out of 6' '17 out of 20' '18 out of 22' '1 out of 7' '9 out of 30'
 '3 out of 8' '11 out of 26' '17 out of 27' '4 out of 12' '12 out of 16'
 '10 out of 24' '65 out of 76' '7 out of 9' '17 out of 60' '10 out of 11'
 '18 out of 25' '5 out of 11' '15 out of 17' '15 out of 23' '5 out of 17'
 '3 out of 28' '5 out of 24' '16 out of 32' '21 out of 22' '7 out of 13'
 '9 out of 12' '15 out of 32' '18 out of 27' '15 out of 16' '18 out of 45'
 '15 out of 15' '6 out of 14' '1 out of 20' '16 out of 36' '30 out of 44'
 '30 out of 37' '2 out of 9' '12 out of 22' '4 out of 9' '2 out of 22'
 '5 out of 6' '6 out of 18' '35 out of 55' '16 out of 29' '30 out of 45'
 '5 out of 9' '16 out of 25' '33 out of 42' '4 out of 16' '13 out of 23'
 '9 out of 38' '6 out of 8' '8 out of 13' '19 out of 30' '10 out of 14'
 '11 out of 24' '9 out of 16' '9 out of 31' '4 out of 15' '3 out of 9'
 '22 out of 30' '3 out of 58' '1 out of 9' '53 out of 60' '5 out of 22'
 '15 out of 22' '19 out of 21' '9 out of 40' 'Ground out of 8'
 '44 out of 75' '8 out of 17' '3 out of 14' '12 out of 31' '26 out of 42'
 '2 out of 45' '12 out of 68' '17 out of 36' '10 out of 28' '41 out of 41'
 '14 out of 68' '14 out of 17' '15 out of 20' '46 out of 76'
 '12 out of 20' '20 out of 30' '18 out of 32' '10 out of 25'
 '17 out of 29' '10 out of 31' '10 out of 15' '13 out of 16' '8 out of 10'
 '18 out of 21' '27 out of 58' '1 out of 6' '19 out of 25' '3 out of 15'
 '25 out of 43' '8 out of 14' '11 out of 12' '9 out of 21' '10 out of 13'
 '45 out of 77' '18 out of 19' '10 out of 20' '12 out of 29'
 'Lower Basement out of 18' '15 out of 24' '48 out of 68' '12 out of 42'
 '16 out of 22' '35 out of 68' '18 out of 30' '11 out of 31'
 '50 out of 75' '18 out of 26' '12 out of 27' '16 out of 20'
 '24 out of 55' '16 out of 37' 'Upper Basement out of 7' '6 out of 15'
 '11 out of 27' '11 out of 23' '3 out of 12' '14 out of 15' '23 out of 25'
 '14 out of 48' '29 out of 35' '15 out of 36' '15 out of 25'
 '15 out of 28' '3 out of 36' '8 out of 11' '6 out of 20' '23 out of 23'
 '5 out of 15' '16 out of 18' '2 out of 10' '40 out of 50' '25 out of 28'
 '12 out of 17' '34 out of 40' 'Upper Basement out of 22' '8 out of 23'
 '5 out of 21' '32 out of 59' '20 out of 32' '9 out of 18' '10 out of 37'
 '25 out of 48' '4 out of 22' '8 out of 18' '11 out of 11' '5 out of 23'
 '60 out of 77' '11 out of 18' '4 out of 20' '5 out of 16' '3 out of 13'
 '30 out of 58' '15 out of 43' '7 out of 16' '18 out of 28' '9 out of 55'
 '11 out of 25' '49 out of 55' '7 out of 27' '14 out of 27' '16 out of 27'
 '25 out of 50' '6 out of 30' '21 out of 23' '8 out of 58' '20 out of 41'
 '3 out of 62' '4 out of 13' '7 out of 17' '12 out of 21' '28 out of 39'
 '15 out of 58' '6 out of 23' '36 out of 45' '9 out of 28' '6 out of 45'
 '22 out of 52' '10 out of 19' '21 out of 58' '48 out of 54' '7 out of 28'
 '11 out of 15' '19 out of 22' '15 out of 37' '2 out of 17' '76 out of 78'
 '3 out of 10' '20 out of 27' '8 out of 36' '14 out of 33' '21 out of 21'
 '12 out of 25' '18 out of 29' '14 out of 35' '7 out of 20' '20 out of 37'
 '9 out of 35' '27 out of 27' '15 out of 60' '19 out of 33' '18 out of 20'
 '13 out of 40' '9 out of 11' '8 out of 22' '6 out of 13' '20 out of 31'
 '27 out of 45' '19 out of 20' '32 out of 46' '19 out of 85' '3 out of 23'
 '34 out of 46' '4 out of 27' '19 out of 27' '35 out of 60' '21 out of 33'
 '25 out of 52' '2 out of 24' '24 out of 24' '18 out of 33' '1 out of 10'
 '45 out of 60' '60 out of 71' '36 out of 81' '24 out of 60'
 '16 out of 38' '8 out of 45' 'Ground out of 16' '8 out of 32'
 '10 out of 10' '23 out of 40' '7 out of 18' '8 out of 19' '6 out of 17'
 '16 out of 34' 'Ground out of 12' '6 out of 9' 'Ground out of 18'
 '20 out of 25' '3 out of 22' '9 out of 32' '26 out of 32' '17 out of 18'
 '24 out of 25' '19 out of 26' '17 out of 19' '1 out of 13' '14 out of 30'
 '8 out of 9' '3 out of 17' 'Lower Basement out of 3' '12 out of 23'
 'Ground out of 9' '1 out of 24' '1 out of 12' '3' 'Ground' '15 out of 29'
 '20 out of 20' '14 out of 29' 'Lower Basement out of 1' '13 out of 17'
 '1 out of 14' 'Upper Basement out of 2' '2 out of 14' '24 out of 31'
 '2 out of 32' '2 out of 16' '9 out of 13' '1 out of 11' '6 out of 29'
 '9 out of 9' '28 out of 31' '1 out of 15' 'Ground out of 14'
 '2 out of 11' '19 out of 31' '1 out of 16' '25 out of 32' '11 out of 16'
 '11 out of 17' 'Upper Basement out of 3' '4 out of 24' '1 out of 19'
 '7 out of 30' '16 out of 19' 'Upper Basement out of 5' 'Ground out of 13'
 '2 out of 25' '23 out of 30' '4 out of 30' '13 out of 25' '23 out of 35'
 'Ground out of 10' '5 out of 34' '20 out of 35' '1' '4 out of 31'
 '4 out of 26' '24 out of 33' '4 out of 17' '1 out of 35' '11 out of 35'
 'Ground out of 15' 'Ground out of 27' '15 out of 30' '12 out of 30'
 '23 out of 34']
['Unfurnished' 'Semi-Furnished' 'Furnished']
['Bachelors/Family' 'Bachelors' 'Family']

In [78]:
df_cleaned.drop('Area Locality',axis=1,inplace=True);

In [79]:
# df_cleaned
unique_floor = df['Floor'].unique();
print(unique_floor);

['Ground out of 2' '1 out of 3' '1 out of 2' 'Ground out of 1'
 'Ground out of 4' '1 out of 4' '1 out of 1' 'Ground out of 3'
 '2 out of 3' '4 out of 5' '2 out of 2' '2 out of 5' '4 out of 14'
 '3 out of 3' '5 out of 5' '4 out of 4' '7 out of 8' '2 out of 4'
 '3 out of 4' '1 out of 5' '8 out of 5' 'Ground out of 6' '2 out of 1'
 'Upper Basement out of 4' 'Ground out of 5' '3 out of 5' '11 out of 19'
 '5 out of 10' '11 out of 14' 'Lower Basement out of 2' '2 out of 7'
 '4 out of 10' '7 out of 10' '2 out of 13' '6 out of 7' '4 out of 7'
 '14 out of 14' '43 out of 78' '2 out of 8' '13 out of 18' '5 out of 12'
 '18 out of 24' '3 out of 7' '17 out of 31' '11 out of 21' '7 out of 19'
 '14 out of 23' '9 out of 20' 'Upper Basement out of 9' '19 out of 24'
 '3 out of 21' '1 out of 22' '8 out of 8' '6 out of 12' '4 out of 58'
 'Upper Basement out of 16' '60 out of 66' '34 out of 48' '5 out of 8'
 '5 out of 14' '14 out of 40' '5 out of 7' '9 out of 22' '12 out of 18'
 '26 out of 44' '1 out of 8' '25 out of 42' '25 out of 41' '53 out of 78'
 'Ground out of 7' '14 out of 20' '13 out of 20' '16 out of 23'
 '10 out of 18' '39 out of 60' '16 out of 21' '10 out of 32' '4 out of 8'
 '12 out of 24' '32 out of 41' '3 out of 30' '13 out of 21' '9 out of 29'
 '47 out of 89' '7 out of 41' '28 out of 30' '13 out of 15' '6 out of 21'
 '8 out of 16' '2 out of 6' '5 out of 19' '3 out of 11' '17 out of 42'
 '10 out of 12' '8 out of 28' '9 out of 15' '14 out of 22' '18 out of 40'
 '9 out of 17' '12 out of 45' '25 out of 35' '7 out of 15' '10 out of 16'
 'Upper Basement out of 20' '5 out of 20' 'Upper Basement out of 40'
 '5 out of 18' '34 out of 58' '4 out of 6' '20 out of 22' '12 out of 19'
 '15 out of 18' '65 out of 78' '6 out of 16' '17 out of 22' '6 out of 24'
 '40 out of 75' '19 out of 38' '15 out of 31' '11 out of 28'
 '10 out of 22' '17 out of 24' '15 out of 19' '9 out of 10' '7 out of 12'
 '8 out of 20' '11 out of 13' '9 out of 19' '37 out of 51' '6 out of 11'
 '8 out of 15' '11 out of 20' '10 out of 23' 'Upper Basement out of 10'
 '7 out of 23' '4 out of 11' '17 out of 43' '7 out of 22' '14 out of 18'
 '6 out of 10' '8 out of 12' '3 out of 18' '7 out of 7' '14 out of 58'
 '18 out of 23' '19 out of 19' '13 out of 14' '7 out of 11' '11 out of 22'
 'Upper Basement out of 30' '12 out of 14' '16 out of 31' '12 out of 13'
 '11 out of 51' '2 out of 12' '22 out of 24' '7 out of 14' '5 out of 13'
 '7 out of 21' '14 out of 21' '17 out of 25' '9 out of 14' '8 out of 27'
 '3 out of 6' '17 out of 20' '18 out of 22' '1 out of 7' '9 out of 30'
 '3 out of 8' '11 out of 26' '17 out of 27' '4 out of 12' '12 out of 16'
 '10 out of 24' '65 out of 76' '7 out of 9' '17 out of 60' '10 out of 11'
 '18 out of 25' '5 out of 11' '15 out of 17' '15 out of 23' '5 out of 17'
 '3 out of 28' '5 out of 24' '16 out of 32' '21 out of 22' '7 out of 13'
 '9 out of 12' '15 out of 32' '18 out of 27' '15 out of 16' '18 out of 45'
 '15 out of 15' '6 out of 14' '1 out of 20' '16 out of 36' '30 out of 44'
 '30 out of 37' '2 out of 9' '12 out of 22' '4 out of 9' '2 out of 22'
 '5 out of 6' '6 out of 18' '35 out of 55' '16 out of 29' '30 out of 45'
 '5 out of 9' '16 out of 25' '33 out of 42' '4 out of 16' '13 out of 23'
 '9 out of 38' '6 out of 8' '8 out of 13' '19 out of 30' '10 out of 14'
 '11 out of 24' '9 out of 16' '9 out of 31' '4 out of 15' '3 out of 9'
 '22 out of 30' '3 out of 58' '1 out of 9' '53 out of 60' '5 out of 22'
 '15 out of 22' '19 out of 21' '9 out of 40' 'Ground out of 8'
 '44 out of 75' '8 out of 17' '3 out of 14' '12 out of 31' '26 out of 42'
 '2 out of 45' '12 out of 68' '17 out of 36' '10 out of 28' '41 out of 41'
 '14 out of 68' '14 out of 17' '15 out of 20' '46 out of 76'
 '12 out of 20' '20 out of 30' '18 out of 32' '10 out of 25'
 '17 out of 29' '10 out of 31' '10 out of 15' '13 out of 16' '8 out of 10'
 '18 out of 21' '27 out of 58' '1 out of 6' '19 out of 25' '3 out of 15'
 '25 out of 43' '8 out of 14' '11 out of 12' '9 out of 21' '10 out of 13'
 '45 out of 77' '18 out of 19' '10 out of 20' '12 out of 29'
 'Lower Basement out of 18' '15 out of 24' '48 out of 68' '12 out of 42'
 '16 out of 22' '35 out of 68' '18 out of 30' '11 out of 31'
 '50 out of 75' '18 out of 26' '12 out of 27' '16 out of 20'
 '24 out of 55' '16 out of 37' 'Upper Basement out of 7' '6 out of 15'
 '11 out of 27' '11 out of 23' '3 out of 12' '14 out of 15' '23 out of 25'
 '14 out of 48' '29 out of 35' '15 out of 36' '15 out of 25'
 '15 out of 28' '3 out of 36' '8 out of 11' '6 out of 20' '23 out of 23'
 '5 out of 15' '16 out of 18' '2 out of 10' '40 out of 50' '25 out of 28'
 '12 out of 17' '34 out of 40' 'Upper Basement out of 22' '8 out of 23'
 '5 out of 21' '32 out of 59' '20 out of 32' '9 out of 18' '10 out of 37'
 '25 out of 48' '4 out of 22' '8 out of 18' '11 out of 11' '5 out of 23'
 '60 out of 77' '11 out of 18' '4 out of 20' '5 out of 16' '3 out of 13'
 '30 out of 58' '15 out of 43' '7 out of 16' '18 out of 28' '9 out of 55'
 '11 out of 25' '49 out of 55' '7 out of 27' '14 out of 27' '16 out of 27'
 '25 out of 50' '6 out of 30' '21 out of 23' '8 out of 58' '20 out of 41'
 '3 out of 62' '4 out of 13' '7 out of 17' '12 out of 21' '28 out of 39'
 '15 out of 58' '6 out of 23' '36 out of 45' '9 out of 28' '6 out of 45'
 '22 out of 52' '10 out of 19' '21 out of 58' '48 out of 54' '7 out of 28'
 '11 out of 15' '19 out of 22' '15 out of 37' '2 out of 17' '76 out of 78'
 '3 out of 10' '20 out of 27' '8 out of 36' '14 out of 33' '21 out of 21'
 '12 out of 25' '18 out of 29' '14 out of 35' '7 out of 20' '20 out of 37'
 '9 out of 35' '27 out of 27' '15 out of 60' '19 out of 33' '18 out of 20'
 '13 out of 40' '9 out of 11' '8 out of 22' '6 out of 13' '20 out of 31'
 '27 out of 45' '19 out of 20' '32 out of 46' '19 out of 85' '3 out of 23'
 '34 out of 46' '4 out of 27' '19 out of 27' '35 out of 60' '21 out of 33'
 '25 out of 52' '2 out of 24' '24 out of 24' '18 out of 33' '1 out of 10'
 '45 out of 60' '60 out of 71' '36 out of 81' '24 out of 60'
 '16 out of 38' '8 out of 45' 'Ground out of 16' '8 out of 32'
 '10 out of 10' '23 out of 40' '7 out of 18' '8 out of 19' '6 out of 17'
 '16 out of 34' 'Ground out of 12' '6 out of 9' 'Ground out of 18'
 '20 out of 25' '3 out of 22' '9 out of 32' '26 out of 32' '17 out of 18'
 '24 out of 25' '19 out of 26' '17 out of 19' '1 out of 13' '14 out of 30'
 '8 out of 9' '3 out of 17' 'Lower Basement out of 3' '12 out of 23'
 'Ground out of 9' '1 out of 24' '1 out of 12' '3' 'Ground' '15 out of 29'
 '20 out of 20' '14 out of 29' 'Lower Basement out of 1' '13 out of 17'
 '1 out of 14' 'Upper Basement out of 2' '2 out of 14' '24 out of 31'
 '2 out of 32' '2 out of 16' '9 out of 13' '1 out of 11' '6 out of 29'
 '9 out of 9' '28 out of 31' '1 out of 15' 'Ground out of 14'
 '2 out of 11' '19 out of 31' '1 out of 16' '25 out of 32' '11 out of 16'
 '11 out of 17' 'Upper Basement out of 3' '4 out of 24' '1 out of 19'
 '7 out of 30' '16 out of 19' 'Upper Basement out of 5' 'Ground out of 13'
 '2 out of 25' '23 out of 30' '4 out of 30' '13 out of 25' '23 out of 35'
 'Ground out of 10' '5 out of 34' '20 out of 35' '1' '4 out of 31'
 '4 out of 26' '24 out of 33' '4 out of 17' '1 out of 35' '11 out of 35'
 'Ground out of 15' 'Ground out of 27' '15 out of 30' '12 out of 30'
 '23 out of 34']

In [80]:
#### no preprocessing the data like convert data into numeric values

def clean_floor(str):
    st = "";
    for i in str:
        if i == ' ':
            break;
        st += i;
    if st[0] >= '0' and st[0] <= '9':
        return int(st);
    elif st == "Upper":
        return 1;
    elif st == "Ground":
        return 0;
    elif st == "Lower":
        return -1;
    else:
        return 0;
    
    

df_cleaned['Floor'] = df_cleaned['Floor'].apply(clean_floor);

In [88]:
print(df_cleaned);

      BHK   Rent  Size  Floor    Area Type       City Furnishing Status  \
0       2  10000  1100      0   Super Area    Kolkata       Unfurnished
1       2  20000   800      1   Super Area    Kolkata    Semi-Furnished
2       2  17000  1000      1   Super Area    Kolkata    Semi-Furnished
3       2  10000   800      1   Super Area    Kolkata       Unfurnished
4       2   7500   850      1  Carpet Area    Kolkata       Unfurnished
...   ...    ...   ...    ...          ...        ...               ...
4741    2  15000  1000      3  Carpet Area  Hyderabad    Semi-Furnished
4742    3  29000  2000      1   Super Area  Hyderabad    Semi-Furnished
4743    3  35000  1750      3  Carpet Area  Hyderabad    Semi-Furnished
4744    3  45000  1500     23  Carpet Area  Hyderabad    Semi-Furnished
4745    2  15000  1000      4  Carpet Area  Hyderabad       Unfurnished

      Bathroom  Tenant Preferred_Bachelors  Tenant Preferred_Bachelors/Family  \
0            2                       False                               True
1            1                       False                               True
2            1                       False                               True
3            1                       False                               True
4            1                        True                              False
...        ...                         ...                                ...
4741         2                       False                               True
4742         3                       False                               True
4743         3                       False                               True
4744         2                       False                              False
4745         2                        True                              False

      Tenant Preferred_Family
0                       False
1                       False
2                       False
3                       False
4                       False
...                       ...
4741                    False
4742                    False
4743                    False
4744                     True
4745                    False

[4746 rows x 11 columns]

In [82]:
df['Tenant Preferred'].value_counts();
df_cleaned = pd.get_dummies(df_cleaned,columns=['Tenant Preferred'],drop_first=False);

In [90]:
df['City'].value_counts();
df_cleaned = pd.get_dummies(df_cleaned,columns = ['City'],drop_first=False);

In [91]:
df['Area Type'].value_counts();
df_cleaned = pd.get_dummies(df_cleaned,columns=['Area Type'],drop_first=False);

In [92]:
df['Furnishing Status'].value_counts();
df_cleaned = pd.get_dummies(df_cleaned,columns=['Furnishing Status'],drop_first=False);

In [96]:
df_cleaned = df_cleaned.astype(int);
df_cleaned;

In [98]:
print(df_cleaned);

      BHK   Rent  Size  Floor  Bathroom  Tenant Preferred_Bachelors  \
0       2  10000  1100      0         2                           0
1       2  20000   800      1         1                           0
2       2  17000  1000      1         1                           0
3       2  10000   800      1         1                           0
4       2   7500   850      1         1                           1
...   ...    ...   ...    ...       ...                         ...
4741    2  15000  1000      3         2                           0
4742    3  29000  2000      1         3                           0
4743    3  35000  1750      3         3                           0
4744    3  45000  1500     23         2                           0
4745    2  15000  1000      4         2                           1

      Tenant Preferred_Bachelors/Family  Tenant Preferred_Family  \
0                                     1                        0
1                                     1                        0
2                                     1                        0
3                                     1                        0
4                                     0                        0
...                                 ...                      ...
4741                                  1                        0
4742                                  1                        0
4743                                  1                        0
4744                                  0                        1
4745                                  0                        0

      City_Bangalore  City_Chennai  City_Delhi  City_Hyderabad  City_Kolkata  \
0                  0             0           0               0             1
1                  0             0           0               0             1
2                  0             0           0               0             1
3                  0             0           0               0             1
4                  0             0           0               0             1
...              ...           ...         ...             ...           ...
4741               0             0           0               1             0
4742               0             0           0               1             0
4743               0             0           0               1             0
4744               0             0           0               1             0
4745               0             0           0               1             0

      City_Mumbai  Area Type_Built Area  Area Type_Carpet Area  \
0               0                     0                      0
1               0                     0                      0
2               0                     0                      0
3               0                     0                      0
4               0                     0                      1
...           ...                   ...                    ...
4741            0                     0                      1
4742            0                     0                      0
4743            0                     0                      1
4744            0                     0                      1
4745            0                     0                      1

      Area Type_Super Area  Furnishing Status_Furnished  \
0                        1                            0
1                        1                            0
2                        1                            0
3                        1                            0
4                        0                            0
...                    ...                          ...
4741                     0                            0
4742                     1                            0
4743                     0                            0
4744                     0                            0
4745                     0                            0

      Furnishing Status_Semi-Furnished  Furnishing Status_Unfurnished
0                                    0                              1
1                                    1                              0
2                                    1                              0
3                                    0                              1
4                                    0                              1
...                                ...                            ...
4741                                 1                              0
4742                                 1                              0
4743                                 1                              0
4744                                 1                              0
4745                                 0                              1

[4746 rows x 20 columns]

In [99]:
from sklearn.preprocessing import StandardScaler;
cols = ['BHK','Size','Floor','Bathroom'];
scaler = StandardScaler();
df_cleaned[cols] = scaler.fit_transform(df_cleaned[cols]);
print(df_cleaned.head());

        BHK   Rent      Size     Floor  Bathroom  Tenant Preferred_Bachelors  \
0 -0.100773  10000  0.208960 -0.598061  0.038594                           0
1 -0.100773  20000 -0.264125 -0.424618 -1.092067                           0
2 -0.100773  17000  0.051265 -0.424618 -1.092067                           0
3 -0.100773  10000 -0.264125 -0.424618 -1.092067                           0
4 -0.100773   7500 -0.185277 -0.424618 -1.092067                           1

   Tenant Preferred_Bachelors/Family  Tenant Preferred_Family  City_Bangalore  \
0                                  1                        0               0
1                                  1                        0               0
2                                  1                        0               0
3                                  1                        0               0
4                                  0                        0               0

   City_Chennai  City_Delhi  City_Hyderabad  City_Kolkata  City_Mumbai  \
0             0           0               0             1            0
1             0           0               0             1            0
2             0           0               0             1            0
3             0           0               0             1            0
4             0           0               0             1            0

   Area Type_Built Area  Area Type_Carpet Area  Area Type_Super Area  \
0                     0                      0                     1
1                     0                      0                     1
2                     0                      0                     1
3                     0                      0                     1
4                     0                      1                     0

   Furnishing Status_Furnished  Furnishing Status_Semi-Furnished  \
0                            0                                 0
1                            0                                 1
2                            0                                 1
3                            0                                 0
4                            0                                 0

   Furnishing Status_Unfurnished
0                              1
1                              0
2                              0
3                              1
4                              1

In [101]:
print(df_cleaned.columns);

Index(['BHK', 'Rent', 'Size', 'Floor', 'Bathroom',
       'Tenant Preferred_Bachelors', 'Tenant Preferred_Bachelors/Family',
       'Tenant Preferred_Family', 'City_Bangalore', 'City_Chennai',
       'City_Delhi', 'City_Hyderabad', 'City_Kolkata', 'City_Mumbai',
       'Area Type_Built Area', 'Area Type_Carpet Area', 'Area Type_Super Area',
       'Furnishing Status_Furnished', 'Furnishing Status_Semi-Furnished',
       'Furnishing Status_Unfurnished'],
      dtype='object')

In [ ]:
selected_feature =['BHK', 'Rent', 'Size', 'Floor', 'Bathroom',
       'Tenant Preferred_Bachelors', 'Tenant Preferred_Bachelors/Family',
       'Tenant Preferred_Family', 'City_Bangalore', 'City_Chennai',
       'City_Delhi', 'City_Hyderabad', 'City_Kolkata', 'City_Mumbai',
       'Area Type_Built Area', 'Area Type_Carpet Area', 'Area Type_Super Area',
       'Furnishing Status_Furnished', 'Furnishing Status_Semi-Furnished',
       'Furnishing Status_Unfurnished'] ;

df_selected = df_cleaned[selected_feature];
correlation_series = df_selected.corrwith(df_cleaned['Rent']);
correlation_df = correlation_series.sort_values(ascending=False);
print(correlation_df);

Rent                                 1.000000
Bathroom                             0.441215
Size                                 0.413551
BHK                                  0.369718
Floor                                0.327340
City_Mumbai                          0.327038
Area Type_Carpet Area                0.215769
Furnishing Status_Furnished          0.110576
Tenant Preferred_Family              0.063941
Furnishing Status_Semi-Furnished     0.045309
Tenant Preferred_Bachelors           0.042151
Area Type_Built Area                -0.006439
City_Delhi                          -0.027072
City_Bangalore                      -0.061512
Tenant Preferred_Bachelors/Family   -0.078774
City_Chennai                        -0.082361
City_Hyderabad                      -0.087465
City_Kolkata                        -0.105322
Furnishing Status_Unfurnished       -0.126271
Area Type_Super Area                -0.215499
dtype: float64

In [105]:
cat_feature = [
    'BHK', 'Size', 'Floor', 'Bathroom',
       'Tenant Preferred_Bachelors', 'Tenant Preferred_Bachelors/Family',
       'Tenant Preferred_Family', 'City_Bangalore', 'City_Chennai',
       'City_Delhi', 'City_Hyderabad', 'City_Kolkata', 'City_Mumbai',
       'Area Type_Built Area', 'Area Type_Carpet Area', 'Area Type_Super Area',
       'Furnishing Status_Furnished', 'Furnishing Status_Semi-Furnished',
       'Furnishing Status_Unfurnished'
]

df_encoded = pd.get_dummies(df_cleaned[cat_feature],drop_first=False);

cat_corr = df_encoded.corrwith(df_cleaned['Rent']).sort_values(ascending=False);

print(cat_corr);

Bathroom                             0.441215
Size                                 0.413551
BHK                                  0.369718
Floor                                0.327340
City_Mumbai                          0.327038
Area Type_Carpet Area                0.215769
Furnishing Status_Furnished          0.110576
Tenant Preferred_Family              0.063941
Furnishing Status_Semi-Furnished     0.045309
Tenant Preferred_Bachelors           0.042151
Area Type_Built Area                -0.006439
City_Delhi                          -0.027072
City_Bangalore                      -0.061512
Tenant Preferred_Bachelors/Family   -0.078774
City_Chennai                        -0.082361
City_Hyderabad                      -0.087465
City_Kolkata                        -0.105322
Furnishing Status_Unfurnished       -0.126271
Area Type_Super Area                -0.215499
dtype: float64

In [177]:
final_df = df_cleaned[['BHK','Bathroom','Rent','Size','Floor','City_Mumbai','Area Type_Carpet Area','Furnishing Status_Furnished','City_Kolkata','Furnishing Status_Unfurnished','Area Type_Super Area']]

from sklearn.model_selection import train_test_split;

x = final_df.drop('Rent',axis=1);
y = final_df['Rent'];

x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.20,random_state=42);

In [178]:
from sklearn.linear_model import LinearRegression;
model = LinearRegression();
model.fit(x_train,y_train);
y_pred = model.predict(x_test);

y_pred
y_test;

In [179]:
from sklearn.metrics import r2_score;
r2 = r2_score(y_test,y_pred);
print(r2);

0.5086560990588094

In [180]:
n = x_test.shape[0];
p = x_test.shape[1];
adjusted_r2 = 1-((1-r2)*(n-1))/(n-p-1);
print(adjusted_r2);

0.5034234696558149